<div class="ichead" >

  <h2>Categories</h2>
  <p></p> 
</div>
<section class="categories">	
		
			<div class="createpublic" >
			<% if current_user? %>
			<%= link_to "Create", new_infocat_path %>
			<% end %>
			</div>

				<ul class="category">


			 <% @infocats.each do |infocat| %>
				
					 
						
							<li>
							<h2><%= link_to infocat.title, [infocat.routing] %> </h2>
							<h5><%= infocat.brief_description %><h5>
							</li>
							<% if current_user? %>
							<div class="Editingopen">
							<h5><%= link_to "Edit", edit_infocat_path(infocat.id) %>
							<%= link_to "Delete", infocat_path(infocat.id) %></h5>
							</div>
							
							<% end %>	
				<hr>
					
				<% end %> 

					</ul>
			

					
	</section>
