<% content_for :for_head do %>
<%= javascript_include_tag 'script2.js' %>

  
<% end %>


<div class="ichead" >

  <h2>Downloads</h2>
  <p></p> 
</div>
<section class="downloads">	
		
			<div class="createpublic" >
			<% if current_user? %>
			<%= link_to "Create", new_download_path %>
			<% end %>
			</div>

				<ul class="download"> 


			 <% @downloads.each_with_index do |download, index| %>
				
					
							<li><h2><%= link_to(download_path(download.id)) do %><%= image_tag "document-icon.png" %><% end %>
							
							<%= download.title %> </h2>
							<h5><%= download.description %><h5>
							</li>
							
							
							<% if current_user?%>
							<li><%= download.docupload.path %></li>
							
							<%end%>
							
							<% if current_user? %>
							<div class="Editingopen">
							<h5><%= link_to "Edit", edit_download_path(download.id) %>
							    <a href = "#" class="dochid" id=<%="downdel"+index.to_s%>  >Delete</a></h5>
							   <div class="behid" id = <%="downdelhid"+index.to_s%> >
							      <h5><%= link_to "Yes", download_path(download.id), method: :delete %></h5>
							      <h5><a href = "#" class="dochid2" id=<%="hiddowndel"+index.to_s%>  >No</a></h5>
							   </div>
							</div>
							
							<% end %>	
				<hr>
							
				<% end %> 

					</ul>
			

					
	</section>