<div class="newopen" >
<h2>Upload a new document</h2>

<%= simple_form_for [@user, @download], url: downloads_path, method: :post do |f| %>

	<h4>Title</h4><%= f.input :title, label: false %>
	<h4>Description</h4><%= f.input :description, label: false %>
	<h4>Item Order</h4><%= f.input :itemorder, label: false %>
	<h4>Document Location</h4><%= f.input :docupload, label: false %>
	
	
	
	<%= f.button :submit, "Add document" %>
	* Required field
<% end %>

</div>