<div class="newviewer" >
<h2>New Viewer Details</h2>
<%= simple_form_for @viewer do |f| %>
	
	<h4>Username</h4><%= f.input :username, label: false %>
	<h4>Email</h4><%= f.input :email, label: false %>
	<h4>Password</h4><%= f.input :password, label: false %>
	<h4>Confirm Password</h4><%= f.input :password_confirmation, label: false %>

	<%= f.button :submit, 'Create' %>

<% end %>
</div>