<% content_for :for_head do %>
<%= javascript_include_tag 'chosen.jquery.min.js' %>
<% end %>

<div class="newopen" >
<h2>New Stock entry</h2>

<%= simple_form_for [@user, @corporate], url: corporate_path, method: :put do |f| %>

	<h4>Name</h4><%= f.input :name, label: false %>
	<h4>Country</h4><%= f.input :country, label: false %>
	
	<h4>Sector</h4><%= f.input :sector, label: false %>
	<h4>Activity</h4><%= f.input :activity, label: false %>
	<h4>Address (Street, City)</h4><%= f.input :address, label: false %>
	
	<h4>Evernote link</h4><%= f.input :urlevernote, label: false %>
	<h4>Google news link</h4><%= f.input :urlgooglenews, label: false %>
	<h4>Company Website</h4><%= f.input :urlcompanywebsite, label: false %>
	<h4>Bloomberg Ticker</h4><%= f.input :Bloombergid, label: false %>
	<h4>Selected image</h4><%= f.input :corpimage, label: false %>
	<h4><%= @corporate.corpimage_file_name %></h4>
	<h4>Logo</h4><%= f.input :logoimage, label: false %>
	<h4><%= @corporate.logoimage_file_name %></h4>
	

 
	
	<%= f.button :submit, "Alter corporate info" %>
	* Required field
<% end %>
</div>