<section class="openinformations">	
		
			<% if current_user? %>
			<div class="createpublic" >
			<%= link_to "Create", new_openinfo_path %>
			<% end %>
			</div>

			 <% @openinfos.each do |openinfo| %>
				
					<div class="openinformation">
						
						
							<h2><%= link_to openinfo.title, openinfo_path(openinfo.id) %></h2>
							<p><%= openinfo.Openinformation %></p>
							<p></p>
							<% if current_user? %>
							<div class="Editingopen">
							<%= link_to "Edit", edit_openinfo_path(openinfo.id) %>
							<%= link_to "Delete", openinfos_path(openinfo.id), method: :delete %>
							</div>
							<% else %>
							<p></p>
							<% end %>	
				
					</div>
					
				<% end %> 

			

					
	</section>
