<!DOCTYPE html>
<html>
<head>
  <title>Access to extra information - mpwa.me</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8" />

		
  
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	
	
	
	<!--[if lt IE 9]>
    		<script src="js/html5shiv.js"></script>
    		<script src="js/respond.min.js"></script>
  <![endif]-->

  <style>[touch-action="none"]{ -ms-touch-action: none; touch-action: none; }[touch-action="pan-x"]{ -ms-touch-action: pan-x; touch-action: pan-x; }[touch-action="pan-y"]{ -ms-touch-action: pan-y; touch-action: pan-y; }[touch-action="scroll"],[touch-action="pan-x pan-y"],[touch-action="pan-y pan-x"]{ -ms-touch-action: pan-x pan-y; touch-action: pan-x pan-y; }
  </style>

  <style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
      .en-markup-crop-options {
          top: 18px !important;
          left: 50% !important;
          margin-left: -90px !important;
          width: 180px !important;
          border: 2px rgba(255,255,255,.38) solid !important;
          border-radius: 4px !important;
      }

      .en-markup-crop-options div div:first-of-type {
          margin-left: 0px !important;
      }
  </style>

		<!--<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55331302-1', 'auto');
  ga('send', 'pageview');

</script>-->
</head>
<body >
		
 
		<div class="page" >
      <section id="section1" class="setofdata">
          <div class="slowscroll" id="slowscroll1" >

       <div id="brandingcontainer" >
        
          <h2>Mark Artherton, CFA</h2>
          <h4>Emerging Market Equity</h4>
          <h4>Strategist, Stock Selector, Portfolio Constructor</h4>
          
      </div>       

        <div class="usercontainer" >      
           <div class="usertype">
              <% if current_viewer? %>
                  <p></p>
                   <h4>User: <%= current_viewer.username %></h4>
              <% elsif current_user? %>
                    <p></p>
                   <h4>Admin logged in: <%= current_user.username %></h4>
              <% else %>
                  <div class="login" >
                  <%= simple_form_for :viewersession, url: viewersession_path do |f| %>
                  <h4>User name</h4>
                  <%= f.input :username, label: false, required: false %>
                  <h4>Password</h4>
                  <%= f.input :password, label: false, required: false %>

                  <%= f.button :submit, 'Log in' %>
                  <% end %>
                  </div>
              <% end %>
            </div>
        </div>    

      

            

      <div id="sicontainer" >
        <ul id="sinav" >
          <li><a href="https://twitter.com/mark_emerging" ><h3  >a</h3></a></li>
          <li><a href="https://www.linkedin.com/pub/mark-artherton/47/40/7a4" ><h3  >j</h3></a></li>
          <li><a href="https://www.flickr.com/photos/127492516@N02/" ><h3  >v</h3></a></li>
          <li><a href="https://www.youtube.com/channel/UC4W96gmcG_XDCwQLpDLdvig" ><h3  >r</h3></a></li>
        </ul>
    </div>

    <div id="container" >
      <div class="txtdes" >
        <h2 >Private Area</h2>
      </div>
    </div>
    


  <div id="navcontainer" >
    <ul id="navul" >
      <li><a href="http://www.mpwa.me" class="centfloat" ><h3  >Home</h3></a></li>
      <li><a href="http://www.mpwa.me/links/links.html" class="centfloat" ><h3 >Links</h3></a></li>
      <li><a href="#blog" class="centfloat" ><h3  >Blog</h3></a></li>
          
      <% if current_viewer? | current_user? %>
       <li  class="privatenav" >
        <h3  ><%= link_to "Private", openinfos_path %></h3>
        </li>
       <li  class="privatenav2" id="drophidden" ><h3 ><%= link_to "Categories", infocats_path %></h3></li>

       
        
       

      <% end %>

      <% if current_viewer? %>
      
      <li  class="privatenav2" >
        <h3 ><%= link_to "Log out", viewersession_path, method: :delete %></h3>
        </li>
        <li><h3>
        <% flash.each do |key, value| %>
             <div class="flashcontainer" >
              <div class="flash <%= key %>"><%= value %></div>
              </div>
              <% end %>
       </h3></li>   
        </ul>
      <% elsif current_user? %>
        
        <li  class="privatenav2" >
        <h3  ><%= link_to "Log out", session_path, method: :delete %></h3>
        </li>  
        <li   >
        <h3 class="privatenav2" ><%= link_to "Create new viewer", new_viewer_path %></h3>
        </li>
        <li><h3>
        <% flash.each do |key, value| %>
             <div class="flashcontainer" >
              <div class="flash <%= key %>"><%= value %></div>
              </div>
              <% end %>
       </h3></li>   
        </ul>
      <% else %>
        <li><h3>
        <% flash.each do |key, value| %>
             <div class="flashcontainer" >
              <div class="flash <%= key %>"><%= value %></div>
              </div>
              <% end %>
       </h3></li>   
        </ul>
        
      
      <% end %>  
    
  </div>
    <div id="hidcontain" >        
      <ul id ="hiddendrop">
              <% @infocats = Infocat.all %>
             <% @infocats.each do |infocat| %>
              <li  >
              <h3><%= link_to infocat.title, [infocat.routing] %> </h3>
              </li>
              <% end %>
          </ul>
     </div>     

</section>  
<section id="section1" >
  <div  id="slowscroll2" >
		<%= yield %>
  </div>  
</section>
			<div class="footer" Role="footer">
				<p></p>
				<small>Mark Artherton, CFA. In Emerging Market Equity since 1998.  &copy; Mark Artherton. Created and programmed by Mark Artherton. All Rights reserved</small>
				<p></p>
				<small>contact email: info@mpwa.me</small>
			</div>		
    </div>  
		
	</body>
</html>
